* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}
header {
    background: #222;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}
.Home {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.text {
    width: 50%;
}
.text h1 {
    margin-bottom: 15px;
}
.text p {
    margin-bottom: 20px;
}
.btn {
    background: orange;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.image img {
    width: 300px;
    border-radius: 10px;
}
.products {
    padding: 40px;
    text-align: center;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.card {
    background: white;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
}
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}
.card h3 {
    margin: 10px 0;
}
.contact {
    padding: 40px;
    text-align: center;
}
.contact input {
    padding: 10px;
    width: 250px;
}
.contact button {
    padding: 10px 20px;
    background: orange;
    color: white;
    border: none;
    cursor: pointer;
}
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}
.social {
    margin-top: 10px;
}
.social a {
    color: white;
    margin: 0 8px;
    font-size: 20px;
}
@media (max-width: 768px) {

    header {
        flex-direction: column;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .text {
        width: 100%;
        margin-bottom: 20px;
    }

    .image img {
        width: 220px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .contact input {
        width: 90%;
        margin-bottom: 10px;
    }

}